<h1>Registered Users</h1>
<p>The following users are in the system:</p>
<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
  </tr>
    <% @users.each do |user| %>
  <tr>

    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td><%= user.email_address %></td>
    <td>
      <a href="/users/<%= user.id %>/">Show</a>  |
      <a href="/users/<%= user.id %>/edit">Edit</a>  |
      <form action="/users/<%= user.id %>" method="post">
        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
        <input type="hidden" name="_method" value="delete">
        <button type="submit">Destroy</button>
      </form>
  </tr>
  <% end %>
</table>

<a href="/users/new"><button>Add a user</button></a>
